*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    overflow-x: hidden;
}

.hero{
    width: 100%;
    height: 100%;
    min-height: 100vh;
    padding-bottom: 60px;
    background-image: url(../img/ba1.jpg); 
    background-size: cover;
    background-position: center;
    position: relative;
}

.main-width{
    width: 100%;
    max-width: 100%;  
    padding: 0px;
}

.navbar {
display: flex;
justify-content: space-between;
align-items: center;
background-color: #333;
padding: 10px;
width: 100%;
}

@media (max-width: 768px){
    nav .nav-list{
        flex-direction: column;
    }
}

.nav-list {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}



.nav-list li {
    margin-right: 10px;
}

.nav-list li a {
    text-decoration: none;
    color: grey;
    font-size: 20px;
}

.nav-list li.btn1 a {
    color: white;
}

.nav-list li.btn a {
    color: green;
}

.nav__logo {
    display: flex; 
    align-items: center;
    color: white; 
    font-size: 20px;
}

.nav__logo img {
    height: 50px;
    margin-right: 5px;
}


.container {
    max-width: 100%;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    text-align: right;
    font-size: 20px;
    color:white;
}

@media (min-width: 768px) {
    .container {
        width: 60%;
    }
}



.hero-text {
    padding: 20px;
}

.hero-text .paragraph {
    display: none;
}

@media (min-width: 768px) {
    .hero-text .paragraph {
        display: block;
    }
}

.social {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
}

.social p {
    display: inline-block;
    margin-right: 10px;
    border-radius: 4px;
    border: grey 3px solid;
    color: white;
    padding: 5px 15px;
    line-height: 1.3;
    font-weight: 500;
    font-size: 16px;
}

@media (min-width: 768px) {
    .social p {
        font-size: 18px;
    }
}

.social a {
    display: inline-block;
    border-radius: 4px;
    background-color: green;
    border: green 3px solid;
    color: white;
    padding: 5px 15px;
    line-height: 1.3;
    font-weight: bold;
    font-size: 16px;
}

@media (min-width: 768px) {
    .social a {
        font-size: 18px;
    }
}


.about {
    width: 100%;
    padding: 10px;
}

.about img{
    width: 100%;
    max-width: 400px;
}

.card1 {
    width: 100%;
    max-width: 400px;
    overflow: hidden;
    margin-bottom: 20px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    cursor: default;
    transition: all 400ms ease;
}

@media (min-width: 768px) {
    .card1 {
        margin: 20px;
    }
}

.card1 p{
    padding: 10px;
    margin-bottom: 20px;
}

.card1 h3{
    padding: 10px;
}
.card1 .etiqueta{
    padding: 10px;
}
.card1 .etiqueta2{
    padding: 10px;
}

.etiqueta a{
    display: inline-block;
    margin-right: 10px;
    border-radius: 4px;
    background-color: yellow;
    border: yellow 3px solid;
    padding: 0px 5px;
    font-weight: bold;
    color: black;
    font-size: 20px;
}

.etiqueta p{
    display: inline-block;
    margin-right: 10px;
    border-radius: 4px;
    background-color: aqua;
    border: aqua 3px solid;
    padding: 0px 5px;
    font-size: 20px;
    font-weight: bold;
    color: black;
}
.etiqueta2 a{
    display: inline-block;
    margin-right: 10px;
    border-radius: 4px;
    background-color: grey;
    border: grey 3px solid;
    padding: 0px 5px;
    font-size: 20px;
    font-weight: bold;
    color: black;
}
.etiqueta2 p{
    display: inline-block;
    margin-right: 10px;
    border-radius: 4px;
    background-color: red;
    border: red 3px solid;
    padding: 0px 5px;
    font-size: 20px;
    font-weight: bold;
    color: black;
}

.contenedor {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contenido h3{
    padding-top: 0px;
    font-size: 30px;
    font-weight: bold;
    color: black;
}

.container2 {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

@media (min-width: 768px) {
    .container2 {
        flex-direction: row;
    }

    .container2 .card1 {
        margin-right: 20px;
    } 
}

.service {
    display: flex;
    width: 100%;
}
.main {
    width: 100%;
    min-width: 400px;
    display: flex;
    flex-direction: column;

}

@media (min-width: 768px) {
    .main {
        flex-direction: row;
    }
}

.main img {
    width: 100%;
}

@media (min-width: 768px) {
    .main img {
        max-width: 50%;
        flex-basis: 50%;
    }
}


.service-text {
    width: 100%;
    padding: 20px;
    background-color:#333;
    color: white;
}

@media (min-width: 768px) {
    .service-text {
        flex-basis: 50%;
    }
}


.service-text p{
    padding-top: 10px;
    font-size: 20px;
}

.button {
    margin: 20px;
    display: inline-block;
    margin-left: 0px;
    border-radius: 4px;
    background-color: transparent;
    border: white 3px solid;
    padding: 5px 15px;
    line-height: 1.3;
    font-weight: 500;
}

.work {
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
}


  .contact-wrapper > * {
    padding: 15px;
    width: 100%;
}

.contact-form h3 {
    text-align: center;
    font-size: 30px;
    padding: 15px;
}

.contact-form p.textform {
    display: flex;
    text-align: center;
    font-size: 15px;
    padding-bottom: 30px;
}

.contact-form .input-group {
    display: flex;
    flex-direction: column;
    margin-top: 16px;
}

@media (min-width: 768px) {
    .contact-form .input-group {
        flex-direction: row;
        gap: 16px;
    }
}

.contact-form form button,
.contact-form form input,
.contact-form form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

.contact-form form button{
    background-color: green;
    border-radius: 2px;
    border-color: green;
    color: white;
}


.contact-form a {
    display: flex;
    font-size: 15px;
    padding: 5px;
}

footer {
    width: 100%;
    padding: 60px 20px;
    background-color: blue;
}

.nav-list-footer {
    list-style: none;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    gap: 12px;
}

@media (min-width: 768px) {
    .nav-list-footer {
        flex-direction: row;
        justify-content: center;
    }
}

.nav-list-footer li {
    position: relative;
}

.nav-list-footer li a {
    color: white;
}

@media (min-width: 768px) {
    .nav-list-footer li::after {
        content: " - ";
        color: white;
        margin-left: 6px;
    }
    
    .nav-list-footer li:last-child::after {
        content: "";
    }
}

.nav-list-footer li a:hover {
    text-decoration: underline;
}